<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customDao">

	<!-- 중복아이디조회 -->
	<select id="dupIdCheck" parameterType="Map" resultType="int">
	 	SELECT count(*)
	 	FROM dbo.Account
	 	WHERE loginId = #{loginId}
	</select>

	<!-- 회원등록 -->
	<insert id="registerMember" parameterType="one.top.holdem.admin.vo.Account">
		INSERT INTO dbo.Account(
			createdDate,grade,commission,accountState,telephone,email,
			accountText,loginId,loginPassword,nickname,bonusGold,chargeGold,ticket,costume,recommenderAccountId,
			lastLoginDate,todayCash,monthCash
		)
		VALUES (
			getdate(),3,#{commission},#{accountState},#{telephone},#{email},
			#{accountText},#{loginId},PwdEncrypt(#{loginPassword}),#{nickname},#{bonusGold},#{chargeGold},#{ticket},#{costume},#{recommenderAccountId},
			getdate(),#{todayCash},#{monthCash}
		)
	</insert>

	<!-- 회원조회 -->
	<select id="selectMember" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
		SELECT * 
		FROM dbo.Account
		WHERE loginId = #{loginId}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="one.top.holdem.admin.vo.Account">
		UPDATE dbo.Account
		SET nickname = #{nickname},
			email = #{email},
			telephone = #{telephone}
		WHERE loginId = #{loginId}
	</update>
	
	<!-- 진행중인 토너먼트 갯수 -->
	<select id="tournamentTotCnt" resultType="int">
	 	SELECT count(*) as cnt
	 	FROM dbo.Tournament
	 	WHERE startDate >= getDate()
	</select>

 	<!-- 토너먼트 정보 조회 -->
	<select id="torunamentList" parameterType="Map" resultType="one.top.holdem.admin.vo.Tournament">
		SELECT TOP 10 * FROM (
			SELECT *
			  FROM dbo.Tournament
			 WHERE startDate >= getDate()
			 ORDER BY startDate desc
		<if test="page != null">
			 OFFSET #{page} rows
		</if>
		 ) aa
	</select>
	
	<!-- 완료된 토너먼트 갯수 -->
	<select id="tournamentEndTotCnt" resultType="int">
	 	SELECT count(*) as cnt
	 	FROM dbo.Tournament
	 	WHERE getDate() > startDate
	</select>

 
	<!-- 토너먼트 정보 조회 -->
	<select id="torunamentEndList" parameterType="Map" resultType="one.top.holdem.admin.vo.Tournament">
		SELECT TOP 10 * FROM (
			SELECT *
			  FROM dbo.Tournament
			 WHERE getDate() > startDate
			 ORDER BY startDate desc
			 OFFSET #{page} rows
		 ) aa
	</select>
	
	<!-- 선택된 토너먼트 정보 조회 -->
	<select id="selectTournament" parameterType="Map" resultType="one.top.holdem.admin.vo.Tournament">
		SELECT *
		FROM dbo.Tournament
		WHERE tournamentId = ${tId}
	</select>
	
	<!-- 긴급공지 조회 -->
	<select id="selectNotice" resultType="one.top.holdem.admin.vo.Notice">
		SELECT *
		FROM dbo.Notice
		WHERE lastSendDate > getDate()
	</select>
	
	<!-- 비번수정 (조회)-->
	<select id="selPwOverlap" resultType="one.top.holdem.admin.vo.Account">
		SELECT *
		FROM dbo.Account
		WHERE loginId= #{loginId}
		AND PwdCompare(#{loginPassword},loginPassword) = 1
	</select>
	
	<update id="updatePw" parameterType="one.top.holdem.admin.vo.Account">
		UPDATE dbo.Account
		SET
			loginPassword = PwdEncrypt(#{loginPassword})
		WHERE accountId = #{accountId}
	</update>
</mapper>