<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>원탑홀덤</title>
<link rel="stylesheet" href="css/default.css">
<script src="/2017/js/jquery-1.8.3.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/slideControl.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.slideControl.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('.slideControl').slideControl();
	prettyPrint();
});

$(document).ready(function() {
	$('.slideControl2').slideControl2();
	prettyPrint();
});
</script>

<script type="text/javascript" src="js/prettify.js"></script> 


</head>


<body>

<!---- headr ---------->
<div id="hd">
	<div id="hd_wrapper">
		<div id="logo">
            <a href="index.html"><img src="img/logo.jpg" alt="원탑홀덤"></a>
        </div>
		<div id="nat">
			<a href="" onclick="{window.external.AddFavorite('http://naver.com','원탑홀덤')}">★즐겨찾기추가</a>
		</div>
		<div id="menu">
			<div class="top_menu">
				<a href="down.html">다운로드</a>
				<a href="guide.html">게임방법</a>
				<a href="tournament_info.html">토너먼트</a>
				<a href="faq.html">고객센터</a>
				<a href="shop.html" style="background:none;">머니샵</a>
			</div>
			<div class="tnb">
				<a href=""><img src="img/gbr_icon.jpg"> GBR</a>
				<a href=""><img src="img/chn_icon.jpg"> CHN</a>
				<a href=""><img src="img/jpn_icon.jpg"> JPN</a>
				<a href=""><img src="img/kor_icon.jpg"> KOR</a>
			</div>
		</div>
	</div>
</div>
<!---- headr ---------->

<div id="warp">
	<!---- content ---------->

	<div id="content">
		<div id="aside">
			<div class="tit">
				<div class="tt"><span class="big">멤버쉽</span><br>MEMBERSHIP</div>
			</div>
			<div class="sub_menu">
				<ul>
					<li class="over"><a href="modify.html">· 회원정보수정</a></li>
				</ul>
			</div>
			<div><img src="img/sub_down_btn.jpg"></div>
		</div>
		<div id="container">
			<div style="padding-bottom:10px;">
				<span id="container_title">회원정보수정</span>
				<div class="sub_nav"><img src="img/home_icon.jpg"> HOME&nbsp;&nbsp;>&nbsp;&nbsp;멤버쉽&nbsp;&nbsp;>&nbsp;&nbsp;<b>회원정보수정</b></div>
			</div>
			
			<div style="padding-top:20px;">
				<div class="mo_tab">
					<ul>
						<li><a href="/modify.html" class="out">기본정보</a></li>
						<li><a href="/modify_pw.html" class="out">비밀번호 관리</a></li>
						<li><a href="/modify_limit" class="over">일일한도</a></li>
					</ul>
				</div>
			</div>
			
			<div class="join_tt">일일한도</div>


			<div class="tbl_frm01 tbl_wrap">
				<div style="float:left;width:50%;">
					<div style="padding:20px;border:1px solid #888888;text-align:center;height:200px;">
						<div style="height:40px;font-size:14pt;color:#0084ff;text-align:left;">일일 구매한도 계획하기</div>
						<div style="height:25px;">계획금액</div>
						<form id="fregisterform" name="fregisterform" action="modify_limit.html" onsubmit="return fregisterform_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off">
						<div style="position:absolute;margin:10px 0 0 250px">원</div>
						<div style="height:50px">
							<input type="text" name="1" value="80000" class="slideControl" maxlength="30" />
						</div>
						<div style="float:left;">1만원</div>
						<div style="float:right;">10만원</div>
						<input type="submit" class="myButton" value="✔ 저장" style="margin-top:25px;">
						</form>
					</div>
				</div>
				<div style="float:left;width:50%;">
					<div style="padding:20px;border:1px solid #888888;border-left:none;text-align:center;height:200px;">
						<div style="height:40px;font-size:14pt;color:#0084ff;text-align:left;">일일 게임한도 금액 제한 설정</div>
						<div style="height:25px;">계획금액</div>
						<form id="fregisterform" name="fregisterform" action="modify_limit.html" onsubmit="return fregisterform_submit(this);" method="post" enctype="multipart/form-data" autocomplete="off">
						<div style="position:absolute;margin:10px 0 0 250px">원</div>
						<div style="height:50px">
							<input type="text" name="2" value="20000000" class="slideControl2" maxlength="30" />
						</div>
						<div style="float:left;">0</div>
						<div style="float:right;">10억</div>
						<input type="submit" class="myButton" value="✔ 저장" style="margin-top:25px;">
						</form>
					</div>
				</div>
			</div>

			<br>
		</div>
	</div>

	<!---- content ---------->


	<!---- footer ---------->

	<div id="ft">
		<div style="float:left"><img src="img/bottom_logo.jpg"></div>
		<div class="txt">
		<a href="">이용약관</a><a href="">개인정보취급방침</a><br>
		원탑홀덤 대표 : 홍길동 &nbsp; 사업자번호 : 000-00-00000 &nbsp; 통신판매업 : 제2018-전주덕진-00000호<br>
		전북 전주시 덕진구 추탄로 48(덕진동2가) 이현빌딩 4층 &nbsp; 대표전화 063-273-8171<br>
		Copyright ⓒ 2018 ONETOP. All rights reserved.
		</div>
		<div style="float:right;padding-top:18px;">
			<table cellpadding=0 cellspacing=0 class="info">
				<tr>
					<td>제명</td>
					<td>원탑홀덤</td>
					<td>상호</td>
					<td>원탑게임즈</td>
				</tr>
				<tr>
					<td>이용등급</td>
					<td>청소년이용불가</td>
					<td>등급 분류번호</td>
					<td>00-00-000000-000</td>
				</tr>
				<tr>
					<td>제작년월일</td>
					<td>2018-01-01</td>
					<td>신고(등록)번호</td>
					<td>2018-000000호</td>
				</tr>
			</table>
		</div>
	</div>

	<!---- footer ---------->
</div>

</body>
</html>