<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdDao">

<!--db test  -->
<select id="selectTest" resultType="int">
	SELECT count(*)
	FROM dbo.Account
</select>

<!-- 로그인 - 로그인 아이디로 회원조회 -->
<select id="selectLoginCheckId" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	WHERE loginId = #{loginId}
</select>

<!-- 로그인 - 비번 일치 여부 확인 -->
<select id="selectLoginCheckPw" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	where loginId = #{loginId}
	and PwdCompare(#{loginPassword},loginPassword) = 1
</select>

<!-- 모든 회원정보 조회 -->
<select id="selectAllUserMaster" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="loginId != null and loginId != ''">AND recommenderAccountId = #{loginId}</if>
	</trim>	
</select>

<!-- 모든 회원정보 조회 -->
<select id="selectAllUserBranch" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	WHERE grade != 1	
</select>

<!-- 하나의 회원조회  -->
<select id="selectAccount" parameterType="long" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	WHERE accountId = #{accountId}
</select>

<!-- 보유금액 조회 -->
<!-- <select id="selectImport" resultType="one.top.holdem.admin.vo.Import">
	SELECT *
	FROM dbo.Import
</select> -->

<!-- 아이디 중복체크 -->
<select id="selectIdOverLapCount" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM dbo.Account
	WHERE loginId = #{loginId}
</select>

<!-- 지점수정 - 패스워드 변경이 있을시 암호화 하여 업데이트처리 PwdEncrypt('패스워드')함수 사용  -->
<update id="updateAccount" parameterType="one.top.holdem.admin.vo.Account">
	UPDATE dbo.Account
	SET loginId = #{loginId}
		<if test="commission != null and commission != ''">,commission=#{commission}</if>
		<if test="telephone != null and telephone != ''">,telephone=#{telephone}</if>
		<if test="accountText != null and accountText != ''">,accountText=#{accountText}</if>
		<if test="recommenderAccountId != null and recommenderAccountId != ''">,recommenderAccountId=#{recommenderAccountId}</if>
		<if test="loginPassword != null and loginPassword != ''">,loginPassword=PwdEncrypt(#{loginPassword})</if>
	WHERE accountId = #{accountId}	
</update>

<!-- 지점상태변경 0:none 1:stop -->
<update id="updateAccountStatus" parameterType="Map">
	UPDATE dbo.Account
	SET accountState = #{accountState}
	WHERE accountId = #{accountId}
</update>

<!-- 지점삭제 -->
<delete id="deleteAccount" parameterType="int">
	DELETE
	FROM dbo.account
	WHERE accounId = #{accountId}
</delete>

<!-- 비번변경 -->
<update id="updatePass" parameterType="one.top.holdem.admin.vo.Account">
	UPDATE dbo.Account
	SET loginPassword=PwdEncrypt(#{loginPassword})
	WHERE accountId = #{accountId}	
</update>

<!-- 골드증여 -->
<update id="updateAccountGoldPlus" parameterType="one.top.holdem.admin.vo.Account">
	UPDATE dbo.Account
	SET gold = #{gold}
	WHERE accountId = ${accountId}
</update>

<!-- 티켓증여 -->
<update id="updateAccountTicketPlus" parameterType="one.top.holdem.admin.vo.Account">
	UPDATE dbo.Account
	SET ticket = #{ticket}
	WHERE accountId = ${accountId}
</update>

<!-- 현재 카트배당율 조회 -->
<select id="selectNowMasterInfo" resultType="one.top.holdem.admin.vo.Master">
	SELECT *
	FROM dbo.Master
</select>

<!-- 게임배당율 수정 -->
<update id="updateMasterInfo" parameterType="one.top.holdem.admin.vo.Master">
	UPDATE dbo.Master
	SET 
		dealerCommission=#{dealerCommission},
		jackpotProbability=#{jackpotProbability},
		noPairJackpot=#{noPairJackpot},
		onepairJackpot=#{onepairJackpot},
		twoPairJackpot=#{twoPairJackpot},
		threeOfAKindJackpot=#{threeOfAKindJackpot},
		straightJackpot=#{straightJackpot},
		flushJackpot=#{flushJackpot},
		fullHouseJackpot=#{fullHouseJackpot},
		fourOfAKindJackpot=#{fourOfAKindJackpot},
		straightFlushJackpot=#{straightFlushJackpot}
</update>

<!-- 긴급공지삭제 -->
<delete id="deleteNotice">
	DELETE FROM dbo.Notice
</delete>

<!-- 긴급공지등록 -->
<insert id="insertNotice" parameterType="one.top.holdem.admin.vo.Notice">
	INSERT INTO dbo.Notice(lastSendDate, notice)
	VALUES(#{lastSendDate}, #{notice})
</insert>

<!-- 메세지조회 -->

<!-- 지점등록 -->
<insert id="insertBranch" parameterType="one.top.holdem.admin.vo.Account">
	INSERT INTO dbo.Account(
		createdDate, grade, commission, accountState, telephone, email, accountText, loginId, loginPassword, nickname, accountLevel, accountExp,
		gold, bonusGold, chargeGold, ticket, costume, recommenderAccountId, lastLoginDate, todayCash, monthCash, todayStartGold)
	VALUES(
		getDate(),#{grade},#{commission},#{accountState},#{telephone},ISNULL(#{email},''),ISNULL(#{accountText},''),#{loginId},PwdEncrypt(#{loginPassword}),ISNULL(#{nickname},''),1,0
		,0,0,0,0,0,ISNULL(#{recommenderAccountId},0),ISNULL(#{lastLoginDate},''),0,0,0)
</insert>

<!-- 관리자조회(부본사, 피시방) -->
<select id="selectTree" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	WHERE grade = #{grade}
	<if test="recommenderAccountId != null and recommenderAccountId != ''">AND recommenderAccountId=#{recommenderAccountId}</if>	
</select>

<!-- 지점검색 -->
<select id="searchBranch" parameterType="Map" resultType="one.top.holdem.admin.vo.Account">
	SELECT *
	FROM dbo.Account
	WHERE loginId like '%'||#{branchId}||'%'
</select>

</mapper>