<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventDao">

<!--db test  -->

<select id="eventList" resultType="one.top.holdem.admin.vo.Tournament">
	SELECT *
	FROM dbo.Tournament
</select>

 <!-- import조회 -->
 <select id="selectImport" parameterType="Map" resultType="one.top.holdem.admin.vo.Import">
 	SELECT *
 	FROM dbo.Import
 	WHERE year = #{year}
 	AND month = #{month}
 </select>

</mapper>